@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Light.woff2') format('woff2'),
      url('Rubik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('Rubik-LightItalic.woff2') format('woff2'),
      url('Rubik-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

body{
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.header{
  background-color: #F6F6F9;
}

.header-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
  padding-bottom: 43px;
}

.site-header-left{
  display: flex;
  align-items: center;
}

.site-header-left p{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #285193;
  margin-left: 23px;
}

.header-span{
  color: rgb(163, 163, 163);
}

.site-header-left p span{
  margin-left: 5px;
}

.site-header-right{
  display: flex;
  align-items: center;
}

.site-header-icon{
  display: flex;
  align-items: center;
}

.language-ru{
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 24px;
}

.ru-lang{
  display: flex;
  align-items: center;
  border: 2px solid black;
  margin-left: 5px;
}

.search{
  margin-right: 21px;
}

.search-icon::before{
  content: "";
  display: block;
  width: 38px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/search.svg");
  background-color: #fff;
  border-radius: 5px;
}

.language-ru span{
  margin-left: 5px;

}

.language-ru{
  /* padding-right: 11px; */
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 2px solid white;
  background-color: #fff;
  border-radius: 5px;
  padding: 7px 8px 7px 0;
  color: #535353;
  display: flex;
  padding-left: 11px;

}

.language-ru::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/language.svg");
}

.telegram-img{
  border: 2px solid black;
  background-color: #1E96C8;
  padding: 11px 12px 8px 0;
  font-family: 'Rubik',sans-serif;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid black;
  color: #352f2f;
  border-radius: 5px;
  border: none;
}

.telegram-img a{
  margin-left: 8px;
  text-decoration: none;
  color: #fff;
}

.telegram-img::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/fist-telegram-icon.svg");
  margin-left: 10px;
}


.site-navigation{
  margin: 0;
  padding: 0;
  border: 1px solid white;
  margin-bottom: 18px;
}

.site-navigation ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 22px 25px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
}

.nav-link{
  margin: 0;
  padding: 0;
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
  text-decoration: none;
}

.site-navigation ul li{
  list-style: none;
}

.nrg-icon{
  padding-bottom: 43px;
}

.site-main-up {
  display: flex;
  justify-content: space-between;
}

.site-main-up-img p{
  margin: 11px 0;
}

.site-main-down-img p{
  margin: 11px 0;
}

.prizdent-icon p {
  width: 380px;
  /* margin: 11px 0; */
}

.karantin-icon p {
  width: 370px;
  /* margin: 11px 0; */
}

.site-main-down {
  
  display: flex;
  justify-content: space-between;
}

.prokror-icon {
  width: 386px;
}

.tez-yordam-icon p {
  width: 333px;
  /* margin: 11px 0; */
}

.site-main-down-img{
  margin-top: 20px;
}

.notlify{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0 28px 34px;
  background-color: rgba(239, 186, 84, 0.18);
  border: 2px solid transparent;
  border-radius: 5px;
  margin-top: 35px;
  width: 1200px;
  
}
.notlify-head{
  display: flex;
  align-items: center;
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: #000000;
}

.notlify-head::before{
  margin-right: 19px;
  /* display: flex; */
  content: '';
  display: block;
  width: 30px;
  height: 35px;
  background-image: url("../img/bell-icon.svg");
}

.notlify-btn{
  margin-left: 20px;
  padding: 8px 8px 8px 15px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color:  #FE5C28;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #FFFFFF;
  margin-right: 20px;
}
.site-main-section{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.news-heading{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 16px 86px 0 20px;
  color: #000000;
  margin-top: 40px;
  margin-bottom: 14px;
  padding: 0;
}

.news-left{
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-item-dala a{
  text-decoration: none;
}

.news-left-icon h3{
  width: 434px;
  height: 42px;
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.news-left-icon p{
  width: 512px;
  height: 55px;
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.news-left-icon time{
  font-family: "Rubik",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.news-left-icon time::before{
  content: '';
  display: block;
  width: 18px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../img/date.svg');    
}

.news-item-dala{
  display: flex;
  margin-bottom: 20px;
}

.news-item-yigilish{
  display: flex;
  margin-bottom: 20px;
}

.news-item-yigilish a{
text-decoration: none;
}

.news-item-bus{
  display: flex;
  margin-bottom: 20px;
}

.news-item-bus a{
text-decoration: none;
}

.news-right-heading{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #202020;    
  margin-top: 16px;
  /* margin-bottom: 20px; */
}

.news-right{
  width: 386px;
  background-color: rgba(246, 246, 249, 1);
  border: 2px solid transparent;
  border-radius: 8px;
  margin-bottom: 20px;
}

.news-right-item{
  list-style: none;
}

.news-right-item p{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #202020;
  width: 280px;
  height: 62px;
  margin-top: 7px;
  margin-bottom: 12px;
}

.news-right-item time{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
}

.news-right-item time::after{
  content: '';
  display: block;
  width: 305px;
  height: 4px;
  background-color: rgba(228, 228, 228, 1);
  margin-top: 15px;
  padding: 0 20px;
  margin-bottom: 19px;
}

.news-right-item2{
  list-style: none;
  margin-bottom: 19px;
}

.news-right-item2 p{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  color: #202020;
  width: 280px;
  height: 62px;
  margin-top: 7px;
  margin-bottom: 12px;
}

.news-right-item2 time{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #7688A4;
  /* margin-bottom: 18px; */
}

.ucell-icon{
  margin: 0;
  padding: 0;
  width: 400px;
}

.katta-btn{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  border: 2px solid black;
  color: #FFFFFF;
  background-color: rgba(41, 80, 147, 1);
  text-decoration: none;
  border-radius: 5px;
  border: none;
  width: 211px;
  height: 42px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 350px;
  margin-bottom: 40px;
}


.katta-btn p{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
}

.fon-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(246, 246, 249, 1);
}

.fon-item a{
  text-decoration: none;
}

.fon-item a h2{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;  
  width: 526px;
  height: 30px;
  color: #295093;
}

.fon-item p{
  width: 515px;
  height: 44px;
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 10px;
}

.fon-icon-link img{
  margin-left: 20px;
}

.telefon{
  margin-bottom: 40px;
}

.footer{
  background-color: rgba(41, 80, 147, 1);
}


.footer-logo{
  margin-top: 32px;
}
.site-footer-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.footer-telegram-text{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-top: 33px;
}

.footer-telegram{
  text-decoration: none;
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #223aa8;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 30px;
}

.btn{
  width: 1200px;
  height: 3px;
  display: block;
  background-color: rgba(19, 60, 130, 1);
  margin-bottom: 15px;
}

.footer-telegram p{
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 10px 11px 9px 0;
  border: 2px solid white;
}

.footer-telegram p::before{
  content: '';
  margin-left: 10px;
  margin-right: 8px;
  display: block;
  width: 18px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/telegram-icon-footer.svg');
}

.footer-down{
  display: flex;
}

.footer-up{
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 365px;
  height: 121px;
  color: #FFFFFF;
}

.footer-up p{
  margin-bottom: 3px;
}

.site-footer-down{
  display: flex;
}

.footer-right-link{
  margin-right: 115px;
  margin-left: 111px;
}

.footer-right-link a{
  margin-bottom: 10px;
  text-decoration: none;
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #FFFFFF;
}

.footer-right-link{
  list-style: none;
}

.footer-left-link a{
  text-decoration: none;
  font-family: 'Rubik',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.footer-left-link{
  list-style: none;
}